# General
.DS_Store
node_modules/
.env
*.pyc
__pycache__/

# Mobile App
/android/
/ios/
.expo/

# Python
venv/
*.egg-info/

# Database
*.db
*.sqlite

# AI Models
*.h5
*.pb

# IDE Specific
.vscode/
.idea/
